body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  box-sizing: border-box !important;
  
}
body{
  /* background-color:#9b59b6; */
  background-color:#42cbf5;
  
}
label{
  /* color:white; */
  font-weight: bolder;
  font-family:  Times;
}
legend{
  font-weight: bolder;
  /* color: white; */
  font-family: 'Kufam', cursive;
  margin: 10px;

}
/* .button{
  align-items: center !important;
  margin: 0 auto !important; 
}*/
form{
  background-color : rgb(246,246,246);
  padding:10px;
  border-radius: 10px;

}